body {
    font-family: 'Roboto Condensed', sans-serif;
}

div.container {
    margin: 0 auto;
    width: 210px;
    padding: 5px;
}

div.main-grid {
    display: inline-block;
    margin: 0 auto;
}

div.grid {
    padding: 0 30px;
}

select#grid-size {
    margin: 0 0 5px 0;
}

button#solve-button {
    margin: 5px 0 0 0;
}

#user-table {
    border: solid 1px black;
    border-spacing: 5px;
    background: #CC7722
}

#user-table td {
    border: solid 1px black;
    width: 30px;
    height: 30px;
}

input.grid-cell {
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

div.solution-container {
    width: 100%;
}
